{%- set title = siteConfig.site.title -%}

<div class="main-nav">
  <div class="site-logo">
    <a href="/" title="{{ title }} - {{ phrases.main_page }}">
      {% include "partials/header/site-logo.njk" %}
    </a>
  </div>
</div>
