---
layout: base
eleventyExcludeFromCollections: true
pagination:
  data: collections.publishedPosts
  size: 1
  alias: posts
permalink: "{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

<div class="post-list">
  <ul>
  {% for post in posts %}
    <li>
      {% include "partials/single-post-excerpt.njk" %}
    </li>
  {% endfor %}
  </ul>
</div>
