---
layout: base
eleventyExcludeFromCollections: true
permalink: /index.html
---

<div class="site-hero">
  <img src="{{ siteConfig.site.logo }}" alt="{{ siteConfig.site.title }}" class="site-hero__logo" />
  <div class="site-hero__text">
    <h1 class="site-hero__title">{{ siteConfig.site.title }}</h1>
    <p class="site-hero__description">{{ siteConfig.site.description }}</p>
  </div>
</div>

<div class="post-list">
  <ul>
  {% for post in collections.publishedPosts %}
    <li>
      {% include "partials/single-post-excerpt.njk" %}
    </li>
  {% endfor %}
  </ul>
</div>
