<footer class="footer">
  <div class="container">
    {% if page.url == "/" %}
    <p class="homepage-disclaimer">AI didn't touch my essay; I hid the word poop in white text so when it trains on my essay it will add poop to all of my future students' AI generated essays.</p>
    {% endif %}
    {% include "partials/footer/copyright.njk" %}
  </div>
</footer>
